<h1 class="text-center">My Tasks</h1>
<div id="my_task" class=" row d-flex col-lg-12">
  <div class="col-lg-4" id="1">
    <h3 class="bg-danger">High Priority</h3>
    <%= render partial: "priority_task_table" , locals:{tasks: @high_tasks}%>
  </div>
  <div class="col-lg-4" id="2">
    <h3 class="bg-warning">Medium Priority</h3>
    <%= render partial: "priority_task_table" , locals:{tasks: @medium_tasks}%>
  </div>
  <div class="col-lg-4" id="3">
    <h3 class="bg-info">Low Priority</h3>
    <%= render partial: "priority_task_table" , locals:{tasks: @low_tasks}%>
  </div>
</div>
<br>
<br>
<div id="created_task">
  <div class="d-flex p-2 justify-content-center" style="gap:5rem">
    <h2>Created Tasks</h2>
    <%= link_to "Create New Task!", new_task_path, class: "btn btn-primary btn-lg", data:{ bs_target: "#newTaskModal", bs_toggle: "modal", remote: true} %>
  </div>
  <%= render partial: "shared/created_task_table"%>
</div>
<!-- New Task Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newTaskForm"></div>
    </div>
  </div>
</div>
