<div>
    <div class="d-flex align-items-center justify-content-center">
        <h1>Welcome to the TaskTracker App</h1>
    </div>
    <% if Current.user%>
        <% if(Current.user.is_admin?) %>
            <h2>Logged in as Admin</h2>
        <% else %>
            <h2>Logged in as <%= Current.user.name %></h2>
        <% end %>
        <br>
        <br>
        <div id="my_task">
            <h3>My Tasks</h3>
            <% if @my_tasks %>
                <table class="tasks">
                    <tr>
                        <th>Task Name</th>
                        <th>Created By</th>
                        <th>Required on</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Repeat Interval</th>
                        <th>Actions</th>
                    </tr>
                    <% Array(@my_tasks).each do |task| %>
                        <tr>
                            <td>
                                <%= task.name %>
                            </td>
                            <td>
                                <%= task.user.name %>
                            </td>
                            <td>
                                <%= task.date %>
                            </td>
                            <td>
                                <%= task.category %>
                            </td>
                            <td class="status">
                                <%= task.status %>
                            </td>
                            <td>
                                <%= task.repeat %>
                            </td>
                            <td>
                                <%= link_to "Change status" ,status_path(id: task.id),
                                    class: "btn btn-primary" , role: "button" %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <h4>No task is assigned </h4>
            <% end %>
        </div>
        <br>
        <br>
        <div id="created_task">
            <h3>Created Tasks</h3>
            <% if @created_tasks %>
                <table class="tasks">
                    <tr>
                        <th>Task Name</th>
                        <th>Assigned To</th>
                        <th>Required on</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Repeat Interval</th>
                    </tr>
                    <% Array(@created_tasks).each do |task| %>
                        <tr>
                            <td>
                                <%= task.name %>
                            </td>
                            <td>
                                <%= User.find(task.employee_id).name %>
                            </td>
                            <td>
                                <%= task.date %>
                            </td>
                            <td>
                                <%= task.category %>
                            </td>
                            <td class="status">
                                <%= task.status %>
                            </td>
                            <td>
                                <%= task.repeat %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <h4>You haven't created any task !!</h4>
            <% end %>
        </div>
     <% end %>
</div>