<%= form_with(model: task, url: tasks_path, local: false) do |f| %>
  <div class="modal-body">
    <div id="errorArea"></div>
    <div class="form-group mb-3 required">
      <%= f.label :name,"Task Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Task Name" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :category_id, "Category" %>
      <%= collection_select(:task, :category_id, Category.all, :id, :name, {:prompt => true, :multiple=>false })%>
    </div>
    <div class="form-group mb-3">
      <%= f.label :date, "Required On" %>
      <%= f.date_field :date, class: "form-control"%>
    </div>
    <div class="mb-3">
      <%= f.label :time %>
      <%= f.time_field :time %>
    </div>
    <div class="form-group mb-3 required">
      <%= f.label :priority %>
      <%= f.select :priority, options_for_select(Task.priorities.keys),prompt: "Please select", class: "form-control", required: true %>
    </div>
    <div class="form-group mb-3 required">
      <%= f.label :employee_id, "Assigned To" %>
      <%= collection_select(:task, :employee_id, User.all, :id, :name, {:prompt => true, :multiple=>false })%>
    </div>
    <div class="form-group mb-3">
      <%= f.label :repeat, "Repeat Interval" %><br>
      <%= f.collection_radio_buttons :repeat, Task.repeats, :second, :first do |b| %>
        <%= b.label { b.radio_button + " " + b.text } %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class:"btn btn-primary btn-lg" %>
    <button type="button" class="btn btn-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
