<h1>Create New Task</h1>
<%= form_with model: @task, url: tasks_path do |f|%>
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <div class="mb-3">
    <%= f.label :name,"Task Name" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Task Name" %>
  </div>
  <% if Current.user.is_admin? %>
    <div class="mb-3">
      <%= f.label :category %>
      <%= f.select :category, options_for_select([["Exams", "Exams"],["Birthday", "Birthday"],["Campus","Campus"],["Mock Test", "Mock Test"],["Interview", "Interview"],["Event","Event"],["Hiring", "Hiring"]], selected: @task.category),prompt: "Please select", class: "form-control" %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :date, "Required On" %>
    <%= f.date_field :date, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= f.label :priority %>
    <%= f.select :priority, options_for_select([["High", 1 ],["Medium", 2 ],["Low", 3 ]]),prompt: "Please select", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :employee_id, "Assigned To" %>
    <%= collection_select(:task, :employee_id, User.all, :id, :name, {:prompt => true, :multiple=>false })%>
  </div>
  <div class="mb-3">
    <%= f.label :repeat, "Repeat Interval" %><br>
    <%= f.radio_button :repeat, 'Onetime' %>
    <%= f.label :repeat, 'OneTime'%>
    <%= f.radio_button :repeat, 'Daily' %>
    <%= f.label :repeat, 'Daily' %>
    <%= f.radio_button :repeat, 'Weekly' %>
    <%= f.label :repeat, 'Weekly' %>
    <%= f.radio_button :repeat, 'Monthly' %>
    <%= f.label :repeat, 'Monthly' %>
    <%= f.radio_button :repeat, 'Quarterly' %>
    <%= f.label :repeat, 'Quarterly', value:'quarterly' %>
    <%= f.radio_button :repeat, 'Halfyearly' %>
    <%= f.label :repeat, 'Half-Yearly', value:'halfyearly' %>
    <%= f.radio_button :repeat, 'Yearly' %>
    <%= f.label :repeat, 'Yearly', value:'yearly' %>
  </div>
  <div class="mb-3">
    <%= f.submit "Create Task", class: "btn btn-primary" %>
  </div>
<% end %>
