<table class="table table-striped">
  <h2>Task Details</h2>
  <tr>
    <th> Task Name</th>
    <td><%= @task.name%></td>
  </tr>
  <tr>
    <th> Category</th>
    <td><%= @task.category%></td>
  </tr>
  <tr>
    <th>Required On</th>
    <td><%= @task.date%></td>
  </tr>
  <tr>
    <th>Created By</th>
    <td><%= @task.user.name%></td>
  </tr>
  <tr>
    <th> Assigned to</th>
    <td><%= User.find(@task.employee_id).name %></td>
  </tr>
  <tr>
    <th>Repeat Interval</th>
    <td><%= @task.repeat%></td>
  </tr>
  <tr>
    <th>Completion Status</th>
    <td>
      <%= form_with model: @task, url: status_task_url(id: @task.id) do |f|%>
        <div class="mb-3">
        <% if @task.done %>
        <%= f.select :status, options_for_select([["Pending", "Pending"],["In Progress", "In Progress"],["Completed", "Completed"]], selected: @task.status),prompt: "Please select", class: "form-control" %>
        <% else %>
        <%= f.select :status, options_for_select([["Pending", "Pending"],["In Progress", "In Progress"]], selected: @task.status),prompt: "Please select", class: "form-control" %>
        <% end %>
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Acceptance Status</th>
    <td><%= @task.acceptance %></td>
  </tr>
  <tr>
    <th>Upload Document</th>
    <td>
      <% if @task.document.attached? %>
        <%= link_to @task.document.filename , rails_blob_path(@task.document, disposition: "inline")%>
         <%= link_to 'Remove', document_task_path(@task),class:"btn btn-sm btn-danger",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= form_with model: @task, url: document_task_url(id: @task.id) do |f|%>
          <div class="mb-3">
            <%= f.file_field :document , accept: 'application/pdf, application/doc, application/xls'%>
            <%= f.submit "Upload", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% if @task.status == "Completed" && Current.user.is_admin? %>
    <tr>
      <th>Approve/Reject</th>
      <td>
        <div class="d-flex" style="gap:10px">
          <%= link_to "Approve", acceptance_task_path(value: "Approved"),method: :patch , class:"btn btn-success" %>
          <%= link_to "Reject",acceptance_task_path(value:"Rejected") , method: :patch , class:"btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add Subtask', new_task_subtask_path(@task) , class: "btn btn-primary btn-lg mb-3", data:{ bs_target: "#newSubtaskModal", bs_toggle: "modal", remote: true}%>
<%= render 'subtasks/index'  %>

<!-- New Subtask Modal -->
<div class="modal fade" id="newSubtaskModal" tabindex="-1" aria-labelledby="newSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSubtaskModalLabel">New Subtask</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newSubtaskForm"></div>
    </div>
  </div>
</div>


<!-- Edit Subtask Modal -->
<div class="modal fade" id="editSubtaskModal" tabindex="-1" aria-labelledby="editSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSubtaskModalLabel">Edit Subtask</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editSubtaskForm"></div>
    </div>
  </div>
</div>

<!-- Show Subtask Modal -->
<div class="modal fade" id="showSubtaskModal" tabindex="-1" aria-labelledby="showSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showSubtaskModalLabel">Subtask Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showSubtaskForm"></div>
    </div>
  </div>
</div>
