<h1>Task Details</h1>
<h4>Task Name : <span><%= @task.name %></span></h4>
<h4>Category : <span><%= @task.category %></span></h4>
<h4>Required On : <span><%= @task.date %></span></h4>
<h4>Created by : <span><%= @task.user.name %></span></h4>
<h4>Assigned To : <span><%= User.find(@task.employee_id).name %></span></h4>
<h4>Repeat Interval : <span><%= @task.repeat %></span></h4>
<h4>Completion status : <span><%= @task.status %></span></h4>
<h4>Acceptance status : <span><%= @task.acceptance %></span></h4>
<% if @task.status == "Completed" %>
  <div class="d-flex">
  <%= link_to "Approve", acceptance_task_path(value: "Approved"),method: :patch , class:"btn btn-success" %>
  <%= link_to "Reject",acceptance_task_path(value:"Rejected") , method: :patch , class:"btn btn-danger" %>
  </div>
<% end %>
