<div class="row">
  <div class="col-md table-responsive">
    <table class="table table-striped">
      <h2>Task Details</h2>
      <tr>
        <th> Task Name</th>
        <td><%= @task.name%></td>
      </tr>
      <tr>
        <th> Category</th>
        <td><%=category_name(@task)%></td>
      </tr>
      <tr>
        <th>Required On</th>
        <% if @task.time %>
          <td><%= @task.date %> at <%= @task.time.strftime("%I:%M%p") %></td>
        <% else %>
          <td><%= check_nil(@task.date) %></td>
        <% end %>
      </tr>
      <tr>
        <th>Created By</th>
        <td><%= @task.user.name%></td>
      </tr>
      <tr>
        <th> Assigned to</th>
        <td><%=task_employee_name(@task)%></td>
      </tr>
      <tr>
        <th>Repeat Interval</th>
        <td><%=check_nil(@task.repeat)%></td>
      </tr>
      <tr>
        <tr>
          <th>Done Status</th>
          <td> <%= 
            check_box_tag 'Done', true , @task.done,
            onchange: "$(this).data('params',  this.checked)",
            data: { remote: true, url: done_task_path(id: @task.id), method: :patch }%>
          </td>
        </tr>
        <th>Completion Status</th>
        <td>
          <%= select_tag( 'status', options_for_select(Task.task_specific_statuses(@task).keys, { selected: @task.status } ), prompt: "Please select", data:{ remote: true, url: status_task_path(id: @task.id), method: :patch }) %>
        </td>
      </tr>
      <tr>
        <th>Acceptance Status</th>
        <td><b><%= @task.acceptance %></b></td>
      </tr>
      <tr>
        <th>Upload Document</th>
        <td>
          <%= form_with model: @task, url: document_task_url(id: @task.id) do |f|%>
            <div class="mb-3">
              <%= f.file_field :documents , accept: 'application/pdf, application/doc, application/xls', multiple: true, required: true%>
              <%= f.submit "Upload", class: "btn btn-primary" %>
            </div>
          <% end %>
        </td>
      </tr>
      <% if @task.status == "Completed" && Current.user.admin? %>
        <tr>
          <th>Approve/Reject</th>
          <td>
            <div class="d-flex" style="gap:10px">
              <%= link_to "Approve", acceptance_task_path(value: "Approved"),method: :patch , class:"btn btn-success" %>
              <%= link_to "Reject",acceptance_task_path(value:"Rejected") , method: :patch , class:"btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Add Subtask', new_task_subtask_path(@task) , class: "btn btn-primary btn-lg mb-3", data:{ bs_target: "#newSubtaskModal", bs_toggle: "modal", remote: true}%>
  </div>
  <% if @task.documents.attached? %>
    <div class="col-md">
      <h2>Task Documents</h2>
      <div class="d-flex" style="gap:20px">
        <% @task.documents.includes([:blob]).each do |document| %>
          <div class="d-flex flex-column ", style="gap: 20px;">
            <%= link_to document.filename , rails_blob_path(document, disposition: "inline"), target: "_blank"%>
            <iframe src=<%= url_for(document) %> width="200" height="150"> </iframe>
            <div class="d-flex" , style="gap: 10px;">
              <%= link_to "Download" , rails_blob_path(document, disposition: "attachment"),class:"btn btn-primary", target: "_blank"%>
              <%= link_to 'Remove', purge_attachment_task_path(document),class:"btn btn-sm btn-danger",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md">
    <%= render 'subtasks/index'  %>
  </div>
  <div class="col-md my-4">
    <% @task.subtasks.each do |subtask| %>
      <% if subtask.documents.attached? %>
        <div class="col-md  my-1">
          <div class="d-flex">
            <b><%= subtask.title %> Documents: </b>
            <div class="d-flex">
              <% subtask.documents.includes([:blob]).each do |document| %>
                <div class="d-flex mx-2" style="gap: 10px">
                  <%= link_to document.filename , rails_blob_path(document, disposition: "inline"), target: "_blank"%>
                  <%= link_to ' <i class="fa fa-trash"></i>'.html_safe, purge_attachment_task_path(document), style: "color: red" ,
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', :back, class: "btn btn-outline-secondary" %>
<!-- New Subtask Modal -->
<div class="modal fade" id="newSubtaskModal" tabindex="-1" aria-labelledby="newSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSubtaskModalLabel">New Subtask</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newSubtaskForm"></div>
    </div>
  </div>
</div>
<!-- Edit Subtask Modal -->
<div class="modal fade" id="editSubtaskModal" tabindex="-1" aria-labelledby="editSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSubtaskModalLabel">Edit Subtask</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editSubtaskForm"></div>
    </div>
  </div>
</div>
<!-- Show Subtask Modal -->
<div class="modal fade" id="showSubtaskModal" tabindex="-1" aria-labelledby="showSubtaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showSubtaskModalLabel">Subtask Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showSubtaskForm"></div>
    </div>
  </div>
</div>
