<div class="col-lg-8 mx-auto table-responsive">
  <table class="table my-task col-lg-6">
    <thead class="table-dark">
      <tr>
        <th>Notification</th>
        <th>Received on</th>
        <th>Mark as Read</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><b><%= notification.desc %>  </b>
            <% if Task.find_by_id(id: notification.task_id) %>
              Follow the link to get the details:
              <b><%= link_to Task.find_by_id(notification.task_id).name, task_path(id: notification.task_id) %> </b>
            <% else %>
              <b>
                <p class="text-danger">Task has been deleted </p>
              </b>
            <% end %></td>
          <td><%= notification.created_at.strftime("%m/%d/%Y") %> </td>
          <td><%= check_box_tag 'seen', true , notification.seen, data: { remote: true, url: seen_notification_path(id: notification.id), method: :patch }%> </td>
          <td><%= link_to ' <i class="fa-solid fa-trash-can"></i>'.html_safe, destroy_notification_path(notification), method: :delete  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back', :back, class: "btn btn-outline-secondary" %>
</div>
