<div class="col-lg-6 mx-auto">
  <h1>Sign up</h1>
  <%= form_with model: @user, url: sign_up_path do |f|%>
    <%= render 'shared/errors', object: @user %>
    <div class="mb-3 required">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Your Name", required: true %>
    </div>
    <div class="mb-3 required">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "steve@apple.com", required: true %>
    </div>
    <div class="mb-3 required">
      <%= f.label :password %>
      <%= f.password_field :password , class: "form-control", placeholder: "password", required: true %>
    </div>
    <div class="mb-3 required">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password", required: true %>
    </div>
    <div class="mb-3">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <div class="mb-3">
      <%= link_to "Sign up with Google", "/auth/google_oauth2", class:"login-btn login-google", style:"text-decoration: none" %>
    </div>
    <div class="mb-3">
      <%= link_to "/auth/facebook" , class:"login-btn login-facebook" do %>
        <%= image_tag "facebook.png", style:"height:30px; padding-right: 10px; padding-left:0px;"%>Sign up with Facebook
      <% end %>
    </div>
  <% end %>
</div>
