<div class="dropdown drop_right">
  <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-bell"></i><span class="badge"><%= notifications.count %></span></a>
  <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuLink">
    <% if notifications.empty? %>
      <li> No unread notifications </li>
    <% end %>
    <% notifications.each do |notification|%>
      <div class="d-flex  align-items-center justify-content-around mb-3">
        <li style="width: 320px;"> <b><%= notification.desc %>  </b>
          <% if task_from_notification(notification) %>
            Follow the link to get the details:
            <b><%= link_to task_from_notification(notification), task_path(id: notification.task_id) %> </b>
          <% else %>
            <b>
              <p class="text-danger">Task has been deleted </p>
            </b>
          <% end %>
          <span class="m-3">
            <td><%= check_box_tag "seen", true , notification.seen, data: { remote: true, url: seen_notification_path(id: notification.id), method: :patch }%> </td>
            Mark as Read</span>
        </li>
        <div>
          <%= link_to ' <i class="fa fa-trash"></i>'.html_safe, destroy_notification_path(notification), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
    <li> <%= link_to "Show All", notifications_path %></li>
  </ul>
</div>
