<div class="table-responsive">
  <table class="table all-task">
    <thead class="table-primary">
      <tr>
        <th>Task Name</th>
        <th>Category</th>
        <th>Created By</th>
        <th>Required on</th>
        <th>Assigned To</th>
        <th>Repeat Interval</th>
        <th>Acceptance Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Array(@tasks).each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td>
            <div class="form-group mb-3">
              <%= collection_select(:task, :category_id, Category.all, :id, :name, {:prompt => true,:include_blank => "None", :multiple=>false, selected: task.category_id }, data:{ remote: true, url: category_task_path(id: task.id), method: :patch }) %>
            </div>
          </td>
          <td><%= task.user.name %></td>
          <td><%= task.date %></td>
          <td><%= task_employee_name(task) %></td>
          <td><%= task.repeat.humanize if task.repeat %></td>
          <td class="accep-status"><%= task.acceptance %></td>
          <td><%= link_to "Edit",edit_task_path(id: task.id), class: "btn btn-primary", role: "button" %>
            <%= link_to "Show",task_path(id: task.id), class: "btn btn-secondary", role: "button" %>
            <%= link_to "Delete",task_path(id: task.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", role: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
