<tr id="subtaskRow_<%= subtask.id %>">
  <td> <%= link_to subtask.title,task_subtask_path(task_id: subtask.task_id, id:subtask.id),data:{bs_toggle:'modal', bs_target: '#showSubtaskModal', remote: true }  %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <%= link_to "Show", task_subtask_path(task_id: subtask.task_id, id:subtask.id) , class: "dropdown-item", data:{bs_toggle:'modal', bs_target: '#showSubtaskModal', remote: true }%>
        <%= link_to "Edit", edit_task_subtask_path(task_id: subtask.task_id, id:subtask.id), class: "dropdown-item", data:{bs_toggle:'modal', bs_target: '#editSubtaskModal', remote: true }%>
        <%= link_to "Destroy", [@task, subtask ] ,method: :delete,  class: "dropdown-item", remote: true%>
      </ul>
    </div>
  </td>
  <td>
    <%= 
        check_box_tag 'complete', true , subtask.complete,
          onchange: "$(this).data('params', 'complete =' + this.checked)",
          data: { remote: true, url: complete_task_subtask_path(task_id: subtask.task_id, id: subtask.id), method: :patch }
%>
  </td>
  <td>
    <%= form_with model: subtask, url: document_task_subtask_url(task_id: @task.id, id: subtask.id) do |f|%>
      <div class="mb-3">
        <%= f.file_field :documents , accept: 'application/pdf, application/doc, application/xls', multiple: true, required: true %>
        <%= f.submit "Upload", class: "btn btn-primary" %>
      </div>
    <% end %>
  </td>
</tr>
